.num {
    height: 105px;
    width: 105px;
    position: relative;
    border-radius: 10px;
    background-color: #ff9b00;
    opacity: 0.75;
    text-align: center;


}

.square {
    height: 520px;
    width: 520px;
    background-color: #a8a8a8;
    border-radius: 10px;
    padding: 10px 0px 0px 10px;
}

.place{
    height: 105px;
    width: 105px;
    display: block;
    float: left;
    text-align: center;
    background-color: #c2c2c2;
    border-radius: 10px;
    margin: 10px 10px 10px 10px;
}
.place.orange{
    background-color: #ffd129;
    opacity: 0.75;
}
.place.darkorange{
    background-color: darkorange;
    opacity: 0.75;
}
.place.pink_orange{
    background-color: #ff8063;
    opacity: 0.75;
}
.place.light{
    background-color: #fff435;
    opacity: 0.75;
}
#number{
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    margin-top: 35%;
}