<!DOCTYPE html>
{%load staticfiles %}
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href="{% static 'play/style.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">


    <script type="text/javascript" charset="utf8" src="//code.jquery.com/jquery-1.10.2.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js" type="text/javascript"></script>
    <title>2048</title>
    <script>
        window.field = [
            {% for i in count %}
            [
                {% for j in count %}
                0,
                {% endfor %}
            ],
            {% endfor %}
        ];
    </script>
    <script type="text/plain" id="field_template">
        <% for (var i = 0; i < 4; i++) { %>
        <div class='row_place'>
            <% for (var j = 0; j < 4; j++) {%>
            <div class="place <%= getCellClass(field[i][j]) %>">
                <p id="number"><%= field[i][j] || '' %></p> </div>
            <% } %>
        </div>
        <% } %>
    </script>
</head>
<body><div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="square">
            <div id="field"></div>

        </div>
    </div>
    <div class="col-md-2"></div>
</div>

</body>
<script type="text/javascript" src="{% static 'play/js/play.js'%}"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</html>